<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills float-right">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="todo">Todo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="lazy">Lazy</a>
        </li>
      </ul>
    </nav>
    <h3 class="text-muted">Shopping Lite</h3>
  </div>

  

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</div>
